*
{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    height: 100%;
    width: 100%;
    background-color: blue;
    background-position: center;
    background-size: cover;
    position: absolute;
    background-image: url(BANNER\ 2.jpg);
}
.form-1{
    width: 480px;
    height: 600px;
    background-color: white;
    position: absolute;
    margin: 8% auto;
    position: relative;
    padding: 10px;
}
.button-box{
    
    width: 200px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 3px blue;
    border-radius: 40px;
}
.toggle-btn{
    padding: 10px 40px;
    
    border: 0;
    background: transparent;
    outline: none;
    position: relative;
}
#btn1{
    top: 0;
    left: 0;
    position: absolute;
    width: 200px;
    height: 100%;
    background: linear-gradient(to right, blueviolet,yellow,red,blueviolet);
    border-radius: 30px;
    transition: 0.5s;
}
.social-login1{
    width: 300px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 3px blue;
    border-radius: 30px;
    margin: 30px auto;
    text-align: center;
    cursor: pointer;

}
.social-login2{
    width: 300px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 3px blue;
    border-radius: 30px;
    margin: 30px auto;
    text-align: center;
    cursor: pointer;

}
.social-login3{
    width: 300px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 3px blue;
    border-radius: 30px;
    margin: 30px auto;
    text-align: center;
    cursor: pointer;

}
.login-form{
    top: 270px;
    position: absolute;
    
    width: 280px;
    transition: 1s;
}
.form-field{
    width: 100%;
    padding: 10px;
    margin: 5px 0px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    outline: none;

}
.submit{
    width: 85%;
    padding: 10px 25px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, blueviolet,yellow,red,blueviolet);
    border-radius: 30px;
    border: 0;
}
.checkbox{
    margin: 30px 10px;
}
span{
    color: black;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
   
}
#login{
    left: 100px;
}
.signup-form{
    top: 500px;
    position: absolute;
    
    width: 280px;
}
.btn2{
    width: 85%;
    padding: 10px 25px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, blueviolet,yellow,red,blueviolet);
    border-radius: 30px;
    border: 0;
    
}
.signup-form a{
    text-decoration: none;
}
#signup{
    left: 100px;
}